/*general*/

*,*:after,*:before
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;

}

html, body { max-width: 100%;}
body{
    font-family: 'Roboto Slab', serif;
}
.clearfix{
    clear:both;
}
.overlay{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    background: rgba(0,0,0,0.5);

}

/*********header***********/


 .navbar{
width:100%;
 
float: right;
list-style: none;
overflow: hidden;
background: #0033cc;

}
.navbar .navbar-brand{
    color: #fff;
}
header .navbar ul.navbar-nav{
    margin-left: 10%;
}
.navbar .navbar-brand span{
    border-bottom: 2px solid #fff;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #fff;
}
header .navbar .nav-item .nav-link{
margin-left: 40px;
display:inline-block;
color: #fff;

}


header .navbar .nav-item .nav-link:hover{
    color: #fff;
    background: linear-gradient(60deg ,#5555ff,#90f);
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: 2s all ease-in-out;
}
@media (max-width: 575px){
    header{background: #000;}
    header .nav-list{
        display: block;
    }
    header .nav-list li {
        display: block
    }
    header .nav-list li a {
        letter-spacing: 5px;
        margin-bottom: 3em;
        font-weight: 300;
        font-size: 20px
    }
    header .brand{
        text-align: center;
    }

    
       



    header nav .navbar{
        display: none;
        text-align: center;
    }
}

/*end header*/
/*home sections*/
.home{
height: 600px;
background-color: #000000;
background-image: url("../images/build1.jpg");
background-attachment: fixed;
background-size: cover;
background-position: center;
position: relative;
color: #fff;
}
.home .home-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home .home-title{
    margin-bottom: 20px;
    color:#fff;
    font-size: 45px;
    animation: pulse 2.5s linear infinite;
} 
    


@keyframes pulse{
  0% {
    transform: scale(1, 1);
    opacity: .25;
}

50% {
    transform: scale(1.2, 1);
    opacity: 1;
}
100% {
    transform: scale(1, 1);
    opacity: .25;
}
}
.home .para{
    color:#ddd;
    font-size: 20px;
}
.home button{
    background: #0033cc;
    width: 150px;
    padding: 10px 0px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bold;
}
.home button:hover{
    background: #333;
    color: #fff;
}
@media(max-width: 575px){
.home .para{
    font-size: 20px;
}
.home button{
    margin-bottom: 20px;
}
}
/*economy*/
.economy{
    padding: 100px 100px;
    width: 100%;
}
.economy .row{
    display: flex;
}

.economy .row .card{
    margin-right: -32px;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
}
.economy .row .root{
 display: block;
 margin-left: 50px;
}
.economy .row .root p#fast{
    width: 131%;
}

.economy .row .card img{
    width: 100%;

}
.economy .row .card .card-bottom-top{
    display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
}
.economy .row .card:hover .card-bottom-top{
    display: inline;
    transition: all 5s ease-in-out;
}
.economy .row h4{
font-size: 2rem;
}
.economy .row p{
    color: #444;
}
.economy .row button{
    background: #1a53ff;
    padding: 10px 20px;
    outline: 0;
    border: 0;
    border-radius: 20px;
    color: #fff;
}
.economy .card .card-body p.card-text{
color: #333;
}
.economy .card .card-body .btn{
    background: none; 
    padding: 10px 20px;
    color: #1a53ff;
}
.economy .card .card-body .btn:hover{
    background: #1a53ff;
    padding: 10px 20px;
    outline: 0;
    border: 0;
    border-radius: 20px;
    color: #fff;
    transition:all 0.5s ease-in-out;
}
@media (max-width: 575px){
    .economy .row .root p#fast{
    
}
.economy .row .card{
    margin-top: 20px;
    }
}
/*end about*/
/*services*/
section.services{
    margin-top: 50px;
    background: #f4f4f4;
    padding: 50px 50px;

}
section.services .section-title{
    font-size: 50px;
}
section.services .line{
    width: 200px;
    background: #ddd;
    height: 1px;
    margin: auto;
}
section.services .line span{
    display: block;
    width:100px;
    background: #1a53ff;
    height: 4px;
    margin: auto;
}
section.services p#txt{
    color: #555;
    width:50%;
    margin: 30px auto;
}
section.services .feet{
    background: #fff;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow:0 0 10px #ddd;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
height: 363px;
    box-shadow: 0 0 10px #ddd;

}
section.services .feet:hover{
    background: #1a53ff;
    color:#fff;
}
section.services .feet:hover p{
    color:#fff;
}

section.services .feet i{
    font-size: 30px;
    background: #1a53ff;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    color:#fff;
}
section.services .feet i:hover{
    background: #333;
    color: #fff;
}
section.services .feet h4{
    font-size: 1em;
}
section.services .feet p{
    color:#555;
    margin: auto;
}
/*blog*/
.blog{
    background-image: url(../images/cover.jpg);
    background-position: center;
    height: 400px;
    background-repeat: no-repeat;
    overflow: hidden;
    }
    .blog .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.blog h2{
    color: #fff;
    width: 80%;
   text-align: center;
   padding-top: 100px;
   font-size: 38px;
   

}
.blog h2 span{
   color: #1a53ff; 
}
@media (max-width: 575px){
    .blog h2{font-size: 25px !important}
    }

/*why-choose-us*/
section.why-choose-us .line{
    width: 200px;
    background: #ddd;
    height: 1px;
    margin: auto;
}
section.why-choose-us .line span{
    display: block;
    width:100px;
    background: #1a53ff;
    height: 4px;
    margin: auto;
}
section.why-choose-us p#txt{
    color: #555;
    width:50%;
    margin: 30px auto;
}
section.why-choose-us .row .image img{
    max-width: 100%;
}
section.why-choose-us .row .col{
    display: flex;
}
section.why-choose-us .row .col i{
color: #1a53ff;
float: left;
margin-right: 50px;
font-size: 30px;

}
section.why-choose-us .row .col p{
    color: #969494;
}

section.question{
    padding:100px 100px;
    width: 100%;
}
section.question .images{
   width: 100%; 
}
section.question .images .right-1{
    float:left;
    width:70%;
}
section.question .images .right-2{
    float:left;
    width: 30%;
}
section.question .images .left-1{
    float:left;
    width:45%;
}
section.question .images .left-2{
    float:left;
    width: 40%;
}

/*ACCORDION*/
/* Style the buttons that are used to open and close the accordion panel */
.question .Box .accordion {
  background-color: #ccc;
  color: #0033cc;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.4s;
  font-weight: bold;
}


.question .Box .panal {
  padding: 0 18px;
  background-color: #fff;
  overflow: hidden;
  color: #555;
}
@media(max-width: 575px){
    .question .Box .accordion{
        width: 156%;

    }
    .question .Box .panal {
        width:200%;
    }
    section.question .images{
        width: 100%;
    }
    section.question .images .right-1
    ,section.question .images .right-2,
    section.question .images .left-1,
    section.question .images .left-2{
    float: none;
    width:100%;
}

}
/*prices*/
/* Create three columns of equal width */
.pricing{
    margin-left:60px;
}
.pricing .line{
    width: 200px;
    background: #ddd;
    height: 1px;
    margin: auto;
    margin-bottom: 50px;
}
.pricing .line span{
    display: block;
    width:100px;
    background: #1a53ff;
    height: 4px;
    margin: auto;
}

.columns{
    width:70%;

}
/* Style the list */
.price {
    padding:100px 100px;
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


/* Pricing header */
.price .header {
  background-color: #0033cc;
  color: white;
  font-size: 25px;
  border-radius: 10px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 25px;
  color:#0033cc;

}

/* The "Sign Up" button */
.button {
  background-color: #0033cc;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
.button:hover{
    opacity: 0.6;
    color:#fff;
}
.price:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
}

/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
/*map*/
.map .line{
    width: 200px;
    background: #ddd;
    height: 1px;
    margin: auto;
}
.map .line span{
    display: block;
    width:100px;
    background: #1a53ff;
    height: 4px;
    margin: auto;
}
.map p#txt{
    color: #555;
    width:50%;
    margin: 30px auto;
}
.map{
    padding:50px 50px;
}
.map .contactus input[type="email"]{
    display: block;
    width: 50%;
        margin:auto;
            height: 40px;
    border-radius: 20px
       

}
.map .contactus{
    background: #ccc;
    padding-top: 100px;
}
.map .contactus img{
    width: 40%;
    animation: pulse 2.5s linear infinite;
}


.map .contactus h1{
    color: #000;
    font-size: 26px;
}
.map .contactus input[type="password"]{
    display: block;
    width: 50%;
    margin:auto;
        height: 40px;
    border-radius: 20px
}
.map .contactus button{
     background: #0033cc;
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    margin:20px auto;
     opacity: 0.6;
  transition: 0.3s;
}
.map .contactus button:hover{
    opacity: 1;
}
@media(max-width: 575px){
    .map .row iframe{
        width:300px;
    }
}
/*footer*/
.footer{
    background: #333;
    color: #fff;
    padding:50px 50px;
}
.footer h3{
    border-bottom: 1px solid #888;
}
.footer p{
    font-size: 12px;
    width: 82%;
}
.footer i{
    width:15%;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footer i#face{
    background:#2d4278;

}
.footer i#twitter{
    background: #0087ba;
}
.footer i#linked{
    background: #cb2026;
}
.footer i#google{
    background: #dd4a3a;
}
.footer i#yotube{
    background: #005983;
}
.footer ul li {
    border-bottom: 1px solid #555;
}
.footer button{
        margin: 6px;
    background: #555;
    color: #fff;
    outline: 0;
    border: 0;
    padding: 5px 10px;
     opacity: 0.6;
  transition: 0.3s;
}
.footer button:hover{
background: #22963c;
color: #fff;
border-radius: 10px;
opacity: 1;
}
.footer img{
    width:30%;
}
/*footer2*/
.footer2{
    padding: 20px 20px;
    color: #fff;
    background: #000;
    
}
.footer2 i{
    color: #0033cc;
}
.footer2 .list ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.footer2 .list ul li a{
    color: #fff;
}
.footer2 .list ul li a:hover{
    display: block;
    background: #0033cc;
    padding: 10px;
    border-radius: 10px;

}

